* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #737373;
  background-color: white;
  margin-left: auto;
  margin-right: auto; }
  body .imagenfondo {
    position: fixed;
    opacity: 0.2;
    z-index: -1;
    align-self: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 800px; }

header {
  margin-top: 50px; }
  header h1 {
    font-family: "Quicksand";
    font-size: 1.8rem;
    text-align: center;
    color: #737373;
    letter-spacing: 0.2rem;
    justify-self: start; }

@media screen and (min-width: 320px) {
  main h2 {
    font-family: "Quicksand";
    font-size: 1rem;
    text-align: center;
    color: #737373;
    margin-bottom: 0px; }
  main .noticias {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "art1" "art2" "art3" "art4";
    justify-items: center;
    row-gap: 50px;
    margin-top: 20px;
    margin-bottom: 10px; }
  main .art1 {
    grid-area: art1;
    border: none;
    box-shadow: #737373 3px 3px 10px;
    background-color: white;
    position: relative; }
  main .imgart {
    width: 200px; }
  main h5 {
    color: #626262;
    font-family: 'Montserrat';
    font-size: 0.8rem;
    text-align: center;
    font-style: oblique;
    line-height: 1.6;
    font-weight: bold;
    padding-top: 5px; }
  main .art2 {
    grid-area: art2;
    border: none;
    box-shadow: #737373 3px 3px 10px;
    background-color: white;
    position: relative; }
  main .art3 {
    grid-area: art3;
    border: none;
    box-shadow: #737373 3px 3px 10px;
    background-color: white;
    position: relative; }
  main .art4 {
    grid-area: art4;
    border: none;
    box-shadow: #737373 3px 3px 10px;
    background-color: white;
    position: relative; } }

@media screen and (min-width: 1024px) {
  main h2 {
    font-family: "Quicksand";
    font-size: 1.5rem;
    text-align: center;
    color: #737373;
    margin-bottom: 0px; }
  main .noticias {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "art1 art2" "art3 art4";
    justify-items: center;
    row-gap: 50px;
    margin-top: 20px;
    margin-bottom: 10px; }
  main .art1 {
    grid-area: art1;
    border: none;
    box-shadow: #737373 3px 3px 10px;
    background-color: white;
    position: relative; }
  main .imgart {
    width: 300px; }
  main h5 {
    color: #626262;
    font-family: 'Montserrat';
    font-size: 1rem;
    text-align: center;
    font-style: oblique;
    line-height: 1.6;
    font-weight: bold;
    padding-top: 5px; }
  main .art2 {
    grid-area: art2;
    border: none;
    box-shadow: #737373 3px 3px 10px;
    background-color: white;
    position: relative; }
  main .art3 {
    grid-area: art3;
    border: none;
    box-shadow: #737373 3px 3px 10px;
    background-color: white;
    position: relative; }
  main .art4 {
    grid-area: art4;
    border: none;
    box-shadow: #737373 3px 3px 10px;
    background-color: white;
    position: relative; } }

nav .bi {
  font-size: 2rem;
  color: #737373;
  padding: 10px; }

footer .bi {
  padding: 10px;
  font-size: 2rem;
  color: #737373; }

.botonwhatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100; }
  .botonwhatsapp .whatsappfooter {
    color: #7AD45A;
    font-size: 60px; }
    .botonwhatsapp .whatsappfooter:hover {
      transform: scale(1.1, 1.1); }

.scale:hover {
  transform: scale(1.1, 1.1); }
